@use "styles/utils" as *;
@use "sass:math";

.intro {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: black;
  color: limegreen;
  font-family: "Fira Code", monospace;
  font-size: 4rem;
}

.char-box {
  display: flex;
  gap: 0.5rem;
}

.letter {
  display: inline-block;
  position: relative;
  width: 1ch;
}

.char::before {
  content: "";
  display: inline-block;
  animation: shuffle 4s;
}

@keyframes shuffle {
  0%,
  100% {
    content: "A";
  }
  10% {
    content: "1";
  }
  20% {
    content: "z";
  }
  30% {
    content: "#";
  }
  40% {
    content: "Q";
  }
  50% {
    content: "5";
  }
  60% {
    content: "@";
  }
  70% {
    content: "w";
  }
  80% {
    content: "8";
  }
  90% {
    content: "$";
  }
}

@for $i from 1 through 10 {
  .char:nth-child(#{$i})::before {
    animation-delay: #{math.random() * 2}s;
  }
}
