<div class="intro">
  <div class="container" [ngClass]="isIntroHidden() ? 'container--running' : 'container--paused'"
    (animationend)="onCloseIntro($event)">
    @defer (on timer(900ms)) {
    <div class="char-boxes">
      <div class="char-box">
        <span class="char-box__char">P</span>
        <span class="char-box__char">a</span>
        <span class="char-box__char">s</span>
        <span class="char-box__char">s</span>
        <span class="char-box__char">w</span>
        <span class="char-box__char">o</span>
        <span class="char-box__char">r</span>
        <span class="char-box__char">d</span>
      </div>
      <div class="char-box">
        <span class="char-box__char">G</span>
        <span class="char-box__char">e</span>
        <span class="char-box__char">n</span>
        <span class="char-box__char">e</span>
        <span class="char-box__char">r</span>
        <span class="char-box__char">a</span>
        <span class="char-box__char">t</span>
        <span class="char-box__char">o</span>
        <span class="char-box__char" (animationend)="onHideIntro()">r</span>
      </div>
    </div>
    }
  </div>
</div>
