<div class="intro">
  <div class="container" [ngClass]="isIntroHidden() ? 'container--running' : 'container--paused'"
    (animationend)="onCloseIntro($event)">
    @defer (on timer(800ms)) {
    <div class="char-box">
      <span class="char-box__char"></span>
      <span class="char-box__char"></span>
      <span class="char-box__char"></span>
      <span class="char-box__char"></span>
      <span class="char-box__char"></span>
      <span class="char-box__char"></span>
      <span class="char-box__char"></span>
      <span class="char-box__char"></span>
      <span class="char-box__char"></span>
      <span class="char-box__char" (animationend)="onHideIntro()"></span>
    </div>
    }
  </div>
</div>
