@use "styles/utils" as *;

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-box {
  width: 95%;
  max-width: 52rem;
  margin: 6.5rem 0 2rem;
  padding: 2.8rem 3rem;
  border: none;
  border-radius: 12px;
  background-color: $main-bg-color;
  color: $main-font-color;
  box-shadow: $main-box-shadow;
  &__title {
    color: $title-font-color;
    font-size: 3.8rem;
    font-weight: bold;
    text-align: center;
    &:hover {
      color: $title-font-color-hover;
      cursor: pointer;
    }
  }
}

@include view-max($mobile) {
  .main-box {
    margin: 2rem 0 2rem;
    padding: 2rem 2rem 2.4rem;
    background-color: $main-bg-color-mobile;
  }
}

.input-password-length {
  margin: 2.4rem 0;
  &__name {
    user-select: none;
  }
  &__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0.8rem 0 0;
  }
  &__input-box {
    display: flex;
    justify-content: center;
  }
  &__input {
    width: 25%;
    padding: 9px 9px;
    border: 2px solid $main-input-color;
    border-right: none;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    outline: none;
    background-color: $main-input-bg-color;
    color: $main-input-color;
    font: inherit;
    font-size: 1.7rem;
    font-weight: 500;
    text-align: center;
    &:focus {
      background-color: $main-input-bg-color-focus;
      color: $main-input-bg-color;
    }
  }
  &__input-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 2.2rem;
    border: 2px solid $main-input-color;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  &__number-buttons {
    margin-top: 1.6rem;
    ul {
      display: flex;
      justify-content: center;
      gap: 1rem;
      width: 50%;
      margin: 0 auto;
      list-style-type: none;
    }
  }
}

.input-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  border: none;
  background-color: $main-input-buttons-bg-color;
  color: $main-font-color;
  font: inherit;
  cursor: pointer;
  &:hover {
    background-color: $main-input-buttons-bg-color-hover;
  }
  &:active {
    background-color: $main-input-buttons-bg-color-active;
    color: $main-input-bg-color;
  }
  &:first-child {
    border-bottom: 1px solid $main-input-color;
    border-top-right-radius: 4px;
  }
  &:last-child {
    border-top: 1px solid $main-input-color;
    border-bottom-right-radius: 4px;
    .mat-icon {
      font-size: 1.6rem;
      height: 1.6rem;
    }
  }
}

.number-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 3.5rem;
  padding: 2px 10px;
  border-radius: 5px;
  background-color: $n-button-bg-color;
  color: $n-button-font-color;
  font-size: 1.2rem;
  transition: all 0.1s ease-out;
  cursor: pointer;
  &:hover {
    background-color: $n-button-bg-color-hover;
  }
  &:active {
    background-color: $n-button-bg-color-active;
  }
}

@include view-max-portrait($xs-mobile) {
  .input-password-length__input {
    font-size: 1.5rem;
  }
}

.checkbox {
  display: block;
  margin: 1.4rem 0;
  &__input {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    &:checked + .checkbox__name::before {
      background-color: $main-input-color;
    }
    &:checked + .checkbox__name::after {
      opacity: 1;
    }
  }
  &__name {
    position: relative;
    padding-left: 2.6rem;
    user-select: none;
    cursor: pointer;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 18px;
      height: 18px;
      border: 2px solid $main-input-color;
      background-color: $main-input-bg-color;
      border-radius: 3px;
      transition: background-color 0.1s;
    }
    &::after {
      content: "";
      position: absolute;
      top: 0.7px;
      left: 7.1px;
      width: 6px;
      height: 12px;
      border: solid $checkbox-symbol-color;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
      opacity: 0;
      transition: opacity 0.1s;
    }
  }
}

.generate-button {
  width: 100%;
  margin-top: 1.4rem;
  border: none;
  border-radius: 6px;
  background-color: $g-button-bg-color;
  color: $g-button-font-color;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 4.52rem;
  outline: none;
  user-select: none;
  transition: all 0.1s ease-out;
  &:disabled {
    cursor: default;
    pointer-events: none;
    opacity: 0.5;
  }
  &:not(:disabled):hover {
    background-color: $g-button-bg-color-hover;
    cursor: pointer;
  }
  &:not(:disabled):active {
    background-color: $g-button-bg-color-active;
  }
}

.password-box {
  margin-top: 2.4rem;
  padding: 1.2rem 2rem 2rem;
  border: none;
  border-radius: 12px;
  background-color: $main-input-bg-color;
  color: $main-font-color;
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  &__name {
    user-select: none;
  }
}

.copy-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 3rem;
  background-color: transparent;
  border: none;
  font: inherit;
  p {
    font-size: 1.2rem;
    user-select: none;
  }
  &--not-copied {
    color: $c-button-color;
    &:hover {
      color: $c-button-color-hover;
      cursor: pointer;
    }
  }
  &--copied {
    color: $c-button-color-action;
  }
}

.input-password {
  width: 100%;
  margin-top: 0.4rem;
  padding: 9px 14px;
  border: 1px solid $password-input-border-color;
  border-radius: 6px;
  outline: none;
  background-color: $password-input-bg-color;
  color: $main-font-color;
  font-family: "Source Code Pro", serif;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  &--copied {
    border-color: $c-button-color-action;
    color: $c-button-color-action;
  }
}

@include view-max-portrait($s-mobile) {
  .input-password {
    font-size: 1.8rem;
  }
}

@include view-max-portrait($xs-mobile) {
  .input-password {
    font-size: 1.6rem;
  }
}
