<div class="container">
  <div class="columns is-centered">
    <div
      class="my-box column is-gapless box is-one-third-fullhd is-two-fifths-widescreen is-half-desktop is-three-fifths-tablet has-background-primary has-text-primary-invert box-shadow mx-5 p-5">
      <h1 class="title has-text-centered">Password Generator</h1>

      <div class="filed my-5">
        <label>Enter Length</label>
        <input class="input is-primary input-length-focus" (input)="onChangePasswordLength($event)" type="text" />
      </div>

      <div class="field my-3">
        <div class="control">
          <label class="checkbox custom-checkbox">
            <input (change)="onChangeCheckboxState('Letters')" type="checkbox" />
            Use Letters
          </label>
        </div>
      </div>

      <div class="field my-3">
        <div class="control">
          <label class="checkbox custom-checkbox">
            <input (change)="onChangeCheckboxState('Numbers')" type="checkbox" />
            Use Numbers
          </label>
        </div>
      </div>

      <div class="field my-3">
        <div class="control">
          <label class="checkbox custom-checkbox">
            <input (change)="onChangeCheckboxState('Symbols')" type="checkbox" />
            Use Symbols
          </label>
        </div>
      </div>

      <div>
        <button class="button is-link is-fullwidth is-medium my-5"
          [disabled]="!(passwordLength() && (checkboxState().includeLetters || checkboxState().includeNumbers || checkboxState().includeSymbols))"
          (click)="onButtonClick()">Generate!</button>
      </div>

      @if (password()) {
      <div class="box">
        <label>Your Password</label>
        <input
          class="input is-link is-size-5 has-text-centered has-text-weight-bold letter-spacing input-password-focus"
          [value]="password()" />
      </div>
      }
    </div>
  </div>
</div>