<div class="container">
  <div class="main-box">
    <h1 class="main-box__title" (click)="resetApp()">Password Generator</h1>

    <div class="input-password-length main-box__input">
      <label class="input-password-length__name">Enter Length</label>
      <div class="input-password-length__box">
        <input class="input-password-length__input" type="text" [value]="inputValue()"
          (input)="onChangePasswordLength($event)" (focus)="onClearPasswordLength()" />
      </div>
    </div>

    <div class="checkbox main-box__checkbox">
      <label>
        <input class="checkbox__input" (change)="onChangeCheckboxState('Letters')" type="checkbox" />
        <span class="checkbox__name">Use Letters</span>
      </label>
    </div>

    <div class="checkbox main-box__checkbox">
      <label>
        <input class="checkbox__input" (change)="onChangeCheckboxState('Numbers')" type="checkbox" />
        <span class="checkbox__name">Use Numbers</span>
      </label>
    </div>

    <div class="checkbox main-box__checkbox">
      <label>
        <input class="checkbox__input" (change)="onChangeCheckboxState('Symbols')" type="checkbox" />
        <span class="checkbox__name">Use Symbols</span>
      </label>
    </div>

    <div>
      <button class="generate-button main-box__button"
        [disabled]="!(passwordLength() !== 0 && (checkboxState().includeLetters || checkboxState().includeNumbers || checkboxState().includeSymbols))"
        (click)="onGeneratePassword()">Generate!</button>
    </div>

    @if (password()) {
    <div class="password-box">
      <div class="password-box__content">
        <label class="password-box__name">Your Password</label>
        <button class="copy-button password-box__button"
          [ngClass]="passwordIsCopied() ? 'copy-button--copied' : 'copy-button--not-copied'"
          (click)="onCopyToClipboard()">
          <p>{{ passwordIsCopiedText() }}</p>
          @defer(prefetch on immediate) {
          <span class="material-symbols-outlined">content_copy</span>
          }
        </button>
      </div>

      <input class="input-password password-box__input" [class.input-password--copied]="passwordIsCopied()"
        [value]="password()" readonly />
    </div>
    }
  </div>
</div>
