.mt-7 {
  margin-top: 4rem;
}

.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.input-focus {
  outline-color: #2942ff;
}

.custom-checkbox input[type="checkbox"] {
  transform: scale(1.5);
  margin-right: 10px;
}

.letter-spacing {
  letter-spacing: 2px;
}
