<div class="container">
  <div class="columns is-centered">
    <div
      class="main-box column is-gapless box is-one-third-fullhd is-two-fifths-widescreen is-half-desktop is-three-fifths-tablet has-text-primary-invert box-shadow mx-5 p-5">
      <h1 class="title has-text-centered">Password Generator</h1>

      <div class="filed my-5">
        <label>Enter Length</label>
        <input class="input is-primary input-length-focus mt-1" type="text"
          [value]="passwordLength() ? passwordLength() : ''" (input)="onChangePasswordLength($event)"
          (focus)="onClearPasswordLengthInput()" />
      </div>

      <div class="field my-3">
        <div class="control">
          <label class="checkbox">
            <input (change)="onChangeCheckboxState('Letters')" type="checkbox" />
            <span class="custom-checkbox">Use Letters</span>
          </label>
        </div>
      </div>

      <div class="field my-3">
        <div class="control">
          <label class="checkbox">
            <input (change)="onChangeCheckboxState('Numbers')" type="checkbox" />
            <span class="custom-checkbox">Use Numbers</span>
          </label>
        </div>
      </div>

      <div class="field my-3">
        <div class="control">
          <label class="checkbox">
            <input (change)="onChangeCheckboxState('Symbols')" type="checkbox" />
            <span class="custom-checkbox">Use Symbols</span>
          </label>
        </div>
      </div>

      <div>
        <button class="button is-link is-fullwidth is-medium my-5"
          [disabled]="!(passwordLength() && (checkboxState().includeLetters || checkboxState().includeNumbers || checkboxState().includeSymbols))"
          (click)="onGeneratePassword()">Generate!</button>
      </div>

      @if (password()) {
      <div class="password-box box has-text-primary-invert pt-3">
        <div class="is-flex is-justify-content-space-between is-align-items-flex-end">
          <label>Your Password</label>
          <button class="is-flex is-flex-direction-column is-align-items-center copy-button"
            [ngClass]="passwordIsCopied() ? 'password-copied' : 'password-not-copied'" (click)="onCopyToClipboard()">
            @if (!passwordIsCopied()) {
            <p class="is-size-7">copy</p>
            } @else {
            <p class="is-size-7">copied</p>
            }
            <span class="material-symbols-outlined">content_copy</span>
          </button>
        </div>
        <input
          class="input is-link has-text-primary-invert is-size-5 has-text-centered has-text-weight-bold letter-spacing input-password-focus mt-1"
          [class.input-password-copied]="passwordIsCopied()" [value]="password()" readonly />
      </div>
      }
    </div>
  </div>
</div>
