@use "styles/utils" as *;

.background {
  min-height: 100%;
  background-image: url(../../public/img/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@include view-max-portrait($mobile) {
  .background {
    background-image: url(../../public/img/background-mobile.jpg);
  }
}

.isMain {
  opacity: 0;
  animation: show 0.6s forwards;
  &--paused {
    animation-play-state: paused;
  }
  &--running {
    animation-play-state: running;
  }
}
