$xs-mobile: 396px;
$s-mobile: 576px;
$mobile: 768px;

// Applies styles for portrait orientation with a max width breakpoint
@mixin view-max-portrait($breakpoint) {
  @media (orientation: portrait) and (max-width: #{$breakpoint - 1px}) {
    @content;
  }
}

// Applies styles for a max width breakpoint
@mixin view-max($breakpoint) {
  @media (max-width: #{$breakpoint - 1px}) {
    @content;
  }
}
